.contact-page{
    background: rgb(241, 234, 234);
}

.contact-hero{
  height:50vh;
  background-image:url("../../assets/bg6.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
  color:white;
  margin-top: 50px;
}

.contact-hero::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.71);
}

.contact-overlay{
  position:relative;
  z-index:2;
}

.contact-overlay h1{
  font-size:40px;
}

.contact-overlay p{
  font-size:18px;
}

.contact-section{
  padding:80px 10%;
  display:flex;
  justify-content:space-between;
  gap:60px;
  flex-wrap:wrap;
}

/* LEFT SIDE */
.get-touch{
  flex:1;
}

.contact-item{
  display:flex;
  align-items:center;
  gap:15px;
  margin:20px 0;
}

.contact-item i{
  font-size:22px;
  color:#fdb813;
}


/* RIGHT SIDE */
.send-message{
  flex:1;
}

.send-message form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.send-message input,
.send-message textarea{
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
}

.send-message button{
  padding:12px;
  border:none;
  background:#002b6b;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.send-message button:hover{
  background:#fdb813;
  color:black;
}

.icon{
  font-size:22px;
  color:#fdb813;   /* golden yellow */
}