.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background-image:url("../../assets/auditorium.jpg");
  background-size:cover;
  background-position:center;

  position:relative;
  margin-top: 40px;
}

/* overlay for opacity */

.login-container::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.70);
    /* opacity control */
}

/* login box above overlay */

.login-box{
  position:relative;
  z-index:1;

  width:360px;
  padding:40px;

  background:rgba(255,255,255,0.20);  /* transparent */
  backdrop-filter:blur(6px);         /* glass blur */
  -webkit-backdrop-filter:blur(10px);

  border-radius:12px;
  border:1px solid #ffffff4d;

  box-shadow:0 8px 32px rgb(253, 184, 19, 0.4);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

/* inputs */

.login-box input,
.login-box select{
  width:100%;
  padding:12px;
  margin-bottom:15px;

  background:rgba(255,255,255,0.8);
  border:none;
  border-radius:6px;
}

/* options */

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* remember me */

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: rgb(207, 205, 205);
}

.remember-me input {
  width: auto;
  margin: 0;
  transform: translateY(1px);
}

.forgot {
  text-decoration: none;
  font-size: 14px;
  color: #fdb813;
}

/* button */

.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #002b6b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.login-box button:hover {
  background: #fdb813;
  color: black;
}

/* register text */

.register-text {
  text-align: center;
  margin-top: 15px;
  color: white;
}

.register-text a {
  color: #fdb813;
  font-weight: 600;
  text-decoration: none;
}
